@import 'simplebar-react/dist/simplebar.min.css';

.simplebar-scrollbar:before {
  background-color: var(--mui-palette-text-disabled);
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.48;
}
