/* -------------------------------------FONT-FAMILY----------------------------------- */
/* Poppins */
/* @import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css'; */

/* Roboto */
/* @import '@fontsource/roboto/100.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto/900.css'; */

/* Montserrat */
/* @import '@fontsource-variable/montserrat'; */

/* Lato */
/* @import '@fontsource/lato/100.css';
@import '@fontsource/lato/300.css';
@import '@fontsource/lato/400.css';
@import '@fontsource/lato/700.css';
@import '@fontsource/lato/900.css'; */


@import '../components/Scrollbar/styles.css';


@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-BlackIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Bold Outline';
  src: url('/fonts/TTFirsNeue-BoldOutline.woff2') format('woff2'),
    url('/fonts/TTFirsNeue-BoldOutline.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Bold Outline';
  src: url('/fonts/TTFirsNeue-BoldOutlineItalic.woff2') format('woff2'),
    url('/fonts/TTFirsNeue-BoldOutlineItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-Black.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-BoldIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-Bold.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-DemiBoldIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-DemiBoldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-DemiBold.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-ExtraBoldIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-ExtraBoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-ExtraBold.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-ExtraLightIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-ExtraLightIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-ExtraLight.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-It.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-LightIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-Light.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-MediumIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-MediumIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-Medium.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-Regular.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-ThinIt.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-ThinIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('/fonts/TTFirsNeueTrl-Thin.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrl-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trial Var';
  src: url('/fonts/TTFirsNeueTrialVarItalic.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrialVarItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trial Var Roman';
  src: url('/fonts/TTFirsNeueTrialVarRoman.woff2') format('woff2'),
    url('/fonts/TTFirsNeueTrialVarRoman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ------------------------------------------------------------------------------------ */

/* Plugins */
/* scrollbar */


body {
  margin: 0;
  font-family: 'TT Firs Neue Trl';
}

/* Minimal scrollbar styling */

html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* styles/globals.css */
#nprogress .bar {
  height: 2px;
  /* Adjust the height of the bar */
  z-index: 999999 !important;
}

td.MuiTableCell-root {
  border-bottom: 1px solid #EEF0F4;
  font-size: 13px;
}

/* Dark mode */
.dark td.MuiTableCell-root {
  border-bottom: 1px solid #1F2937 !important;
}

.sidebar_design~.MuiBox-root {
  margin-top: 70px !important;
}

@media screen and (max-width: 899px) {
  .sub-header-xs~.MuiBox-root {
    margin-top: 130px !important;
  }
}

@media screen and (max-width: 575px) {
  .sub-header-xs~.MuiBox-root {
    margin-top: 140px !important;
  }
}

.task_user .MuiAvatar-root+.MuiAvatar-root {
  margin-left: -8px;
}

.MuiTableCell-root {
  border-color: var(--mui-palette-divider) !important;
}

.MuiOutlinedInput-root {
  border-radius: 4px !important;
}

.mui-18ofa0f-MuiFormLabel-root-MuiInputLabel-root {
  top: -8px !important;
}

.mui-1toxriw-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

.card_header .MuiCardHeader-action {
  margin: 0 !important;
}

.dark .MuiInputBase-input {
  -webkit-box-shadow: 0 0 0 100px #ffffff00 inset !important;
}

.select_control .MuiInputLabel-root {
  top: -6px !important;
}